
body {
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
  }

  .logos{
    position: relative;
  }
  .img-fluid{
    position: absolute;
    width: 10vw ;
    height: 10vh;
  }
  #bhp{
   
    left: 50em;
    
  }
  #md{
    left: 20em;
  }

  #header{
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 255, 255), 2px 2px 1px rgb(255, 255, 255);
  }
  
.titulo{
    position: relative;
}
  
 #sub{
    position: absolute;
    left: 29em;
    text-shadow: 1px 1px 1px rgb(255, 255, 255), 2px 2px 1px rgb(255, 255, 255);
 }
 #mundo{
    position: absolute;
    left: 12em;
    text-shadow: 1px 1px 1px rgb(255, 255, 255), 2px 2px 1px rgb(255, 255, 255);
 }
 
.link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}


 
 